<div id="about">
	<div class="row">
		<div class= "large-12 medium-12 columns">
			<h2 id="skills-header">Skills</h2>
			<ul class="skills">
				<h1><li>Ruby on Rails</li></h1>
				<h2><li>Object-Oriented JavaScript</li></h2>
				<h1>
					<li class="show-for-medium-up">HTML5/CSS3/SASS</li>
					<li class="show-for-small-only">
						HTML5 / CSS3 / SASS
					</li>
				</h1>
				<h4><li>Node.js</li></h4>
				<h2><li>Test Driven Development</li></h2>
				<h3><li>Performance</li></h3>
				<h4><li>Backbone.js</li></h4>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class= "large-12 medium-12 columns center">
			<p>I'm looking for work as a Ruby on Rails Developer. Contact me below!</p>
		</div>
	</div>
</div>