<div class="large-4 columns">
	<h3 class="blurry"><%= project.name %></h3>
	<div>
		<%= image_tag project.screenshots.first.filename, 
													alt: project.screenshots.first.filename,
													class: "work-pic" %>
	</div>
	<div><%= link_to project.name, project.url %></div>
	<p><%= project.description %></p>
</div>
