<!--
<h3><%= project.name %></h3>
<p>url: <%= project.url %></p>
<p>description: <%= project.description %></p>
<p>screenshots: 
</p>
-->
	<%= render partial: 'screenshot', collection: project.screenshots %>