<div id="work">
	
	<div class="row">
		<div id="that-song-tho" class="large-4 medium-4 columns"></div>
		<div id="twee-d" class="large-4 medium-4 columns"></div>
		<div id="tic-tac-no" class="large-4 medium-4 columns"></div>
	</div>
	<div class="row">
		<%= render partial: 'project', collection: @projects %>
		<div class="large-4 medium-4 columns">
			<div class="large-print">
				<div><h1>Some</h1></div>
				<div>
					<h1><span id="of">o<span id="space">f my</span></span></h1>
				</div>
				<div><h1>work</h1></div>
			</div>
		</div>
	</div>
</div>