<h1>Home#main</h1>
<div id="navbar">
	<ul>
		<li><%= link_to 'work', "#" %></li>
		<li><%= link_to 'about', "#" %></li>
		<li><%= link_to 'contact', "#" %></li>
	</ul>
</div>
<p>Find me in app/views/home/main.html.erb</p>
