<h1 class="etched">Home#main</h1>
<div id="navbar">
	<ul>
		<li><%= link_to 'work', "#" %></li>
		<li><%= link_to 'about', "#" %></li>
		<li><%= link_to 'contact', "#" %></li>
	</ul>
</div>
<div id="free-container">
	<div id="projects-cont" class="projects">
		<%= render partial: 'project', collection: @projects %>
	</div>
</div>