<div id="navrow" class="bottom">
	<div class="row" id="nav">
		<div class="large-3 columns" id="name-col">
			<span id="my-name"><%= link_to "John Howlett", "#intro" %></span>
		</div>
		<div class="large-offset-3 large-2 columns nav-col">
			<%= link_to 'work', "#work", id: "work-link" %>
		</div>
		<div class="large-2 columns nav-col">
			<%= link_to 'about', "#about", id: "about-link" %></div>
		<div class="large-2 columns nav-col">
			<%= link_to 'contact', "#contact" %></div>
	</div>
</div>